ul.nav {
  list-style-type: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: firebrick; 
  margin: 0;
  padding: 0;
}

li.nav{
  display: inline;
  padding: 10px;
  margin: 50px;
}

a {
  text-decoration: none;
  color: gold;
  font-size: 120%;
}
 
li a:hover {
  background-color: #f77f00;
  font-size: 130%;
  color: black;
}




