ul.nav {
  list-style-type: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: firbrick;
  margin: 0;
  padding: 0;
}

li.nav{
  display: inline;
  padding: 10px;
  margin: 50px;
}

a {
  text-decoration: none;
  color: gold;
  font-size: 120%;
}

li a:hover {
  background-color: #f77f00;
  font-size: 130%;
  color: black;
}


div {
  background-color: #F6CE4C;
  border-style: solid;
  border-color: #80A0D8;
  border-width: 5px;
}

div.wrapper {
  border: none;
  background-color: #E26B00;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 450px;
  grid-auto-rows: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 7%;
}

body {
  background-color: #E26B00;
} 


